<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var counter = 0;
        function deleteRow(btn, event) {
            event.preventDefault();
  var row = btn.parentNode;
  row.parentNode.removeChild(row);
}
function add_new_field(event) {
    event.preventDefault();
    var date_field = '<input type="date" name="new_date_' + counter + '" value="{{ today|date:'Y-m-d' }}" class="date">';
    var start_time_field ='<input type="time" name="new_start_time_' + counter +'" class="date">'
    var end_time_field ='<input type="time" name="new_end_time_'+counter+'" class="date">'
    var delete_row = '<button onclick="deleteRow(this, event)">Видалити</button>'
    var new_fields_div = document.createElement("div");
    new_fields_div.id ="if"
    new_fields_div.innerHTML = date_field + start_time_field + end_time_field + delete_row;
    document.getElementById('new_fields').insertBefore(new_fields_div, document.getElementById('add_field_button'));
    counter++
}
</script>
    <meta charset="UTF-8">
    <title>Admin Services</title>
    <style>
        .date{
            margin-right: 4px;
        }
        #schedule_info, #if{
            margin-top: 5px;
        }
  form{
    display: inline-block;
  }
  #input_field{
      margin: 4px;
  }
  button{
      margin-top: 20px;
  }
    </style>
</head>
<body>
 <form id="form" action="" method="post">
     {% csrf_token %}
     <div id="input_field">
          <label for="specialist_name">Ім'я спеціаліста:</label>
          <input type="text" id="specialist_name" name="specialist_name" value="{{ specialist.name }}">
     </div>
     <div id="input_field">
          <label for="specialist_phone">Телефон:</label>
          <input type="text" id="specialist_phone" name="specialist_phone" value="{{ specialist.phone }}">
     </div>
     <div id="input_field">
          <label for="specialist_rank">Ранг:</label>
          <select name="specialist_rank">
{% for choice in specialist.RANK_CHOISES %}
        <option value="{{ choice.0 }}" {% if choice.0 == specialist.rank %}selected{% endif %}>
            {{ choice.1 }}
        </option>
    {% endfor %}
</select>
     </div>
     <div id="input_field">
          <label for="specialist_status">Статус:</label>
          <input type="text" id="specialist_status" name="specialist_status" value="{{ specialist.status }}">
         </div>
     <div>
     <p>Наявні послуги:</p>
          {% for specialist_service in specialist_services %}
  <label>
    <input type="checkbox" name="service_{{ specialist_service.id }}" checked>
      {{ specialist_service.name }}
  </label>
{% endfor %}
     </div>
 <div>
       <p>Доступні для додавання послуги:</p>
     {% for no_specialist_service in no_specialist_services %}
  <label>

    <input type="checkbox" name="service_{{ no_specialist_service.id }}">
      {{ no_specialist_service.name }}
  </label>
{% endfor %}
 </div>
     <button type="submit">Редагувати</button>
 </form>
 <hr />
<p>&nbsp;</p>
<form id="schedule_form" method="post", action="edit_schedule">
{% csrf_token %}
    <p>Розклад майстра:</p>
    {% for schedule in specialist_schedule %}
        <div id="schedule_info">
  <input type="date" id="date-input" name="date_{{ schedule.id }}" value="{{ schedule.date|date:"Y-m-d" }}">
  <input type="time" id="start_time-input" name="start_time_{{ schedule.id }}" value="{{ schedule.start_time|time:"H:i" }}">
  <input type="time" id="end_time-input" name="end_time_{{ schedule.id }}" value="{{ schedule.end_time|time:"H:i" }}">
        <button onclick="deleteRow(this, event)">Видалити</button>
        </div>
{% endfor %}
<div id="new_fields">
<button id="add_field_button" onclick="add_new_field(event)">Add new field</button>
</div>
<button type="submit">Редагувати</button>
</form>
 <hr />
<p>&nbsp;</p>
</body>
</html>