<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #main {
            display: inline-block;
        }
    </style>
    <meta charset="UTF-8">
    <title>Booking service</title>
</head>
<body>
    <form method="post" action="/booking/">
        {% csrf_token %}
        <div>
            <p>На яку дату ви бажаєте отримати вказану послугу?</p>
            <input type="date" id="date-input" name="date">
            <input type="hidden" id="service_id" name="service_id" value={{ service_id }}>
            <button type="submit">Обрати дату</button>
        </div>
    </form>
</body>
</html>