<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if all_time_vars %}
 <form id="main_form" method="post" action="/end_booking/">
        {% csrf_token %}
        <div id="main">
            <p>На який час ви бажаєте забронювати послугу?</p>
            {% for time_var in all_time_vars %}
                <div>
                    <label>
                    {% load filters %}
                        {% with words=time_var|split:" " %}
                            <input type="radio" name="time" value="{{ date }} {{ time_var }}">
                            {{ words.0 }}
                        {% endwith %}
                    </label>
                </div>
            {% endfor %}
            <button type="submit">Забронювати</button>
        </div>
    </form>
{% else %}
    <p>На обрану дату відсутня можливість надати дану послугу</p>
    <p><a href="/services/{{ service }}/">Повернутися до вибору дати</a></p>
{% endif %}
</body>
</html>